.App {
  
  background-color: #100a27;

  height: 100vh;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-header{
  display:flex;
  flex-direction:row;
  margin-top:30px;
  margin-left:30px;
}

.mobile-nav-toggle{
  opacity:0;
}


.Nav{

  font-family: 'Source Serif Pro', serif;

  display : flex;
  flex-direction:row;
  padding:10px;

/*  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 84%, rgba(252,176,69,1) 100%);*/
  border-radius:50px;
  margin:40px;
  justify-content:space-between;
   padding-left:20px;
    padding-right:20px;

  height:50px;
  align-items:center;
  padding-top:0px;
  margin-top:0px;



}

.Nav-items{

  list-style-type: none;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  gap:3em;
  color:#fdfdfd;

  font-size:14px;
  text-transform:uppercase;
  font-weight:100;


  padding-top:10px;
  padding-bottom:10px;
  padding:30px;



}

.Title{

  font-size:30px;
  padding-left:10px;
  font-family: 'Dancing Script', cursive;
  font-weight:700;

  color:#fdfdfd;
  letter-spacing: 1px;

  background:url('./Assets/Logo.png');
    background-repeat:no-repeat;
    background-size:200px;
    
    width:200px;
    
}

.Nav-items-click{
  padding-left:15px;
   font-weight:500;
}


@media (max-width:35em){

  .Nav-items{

  position:fixed;
  inset: 0 0 0 30%;
  flex-direction:column;
  justify-content:flex-start;
  padding:10px;
  z-index:1000;
  transform:translateX(100%);
    background:hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(2rem);


  
}

  .mobile-nav-toggle{

   position:absolute;
    opacity:1;
    top:2rem;
    right:2rem;
    z-index:9999;
    background:url('./Assets/menu.png');
    background-repeat:no-repeat;
    background-size:contain;
    width:2rem;
    aspect-ratio:1;
    border:0;


  }





}


#login{
  border:solid 1px white;
  border-radius:10px;
  width:60px;


}

#sign{
  background-color: #1840cf;
  border-radius:10px;
  width:60px;
}

button{
font-family: 'Inter', sans-serif;
  background-color: #1d1a36;
  border-radius:10px;
  margin-left:20px;
  padding:10px;
  font-weight:bold;
  color:white;

}

.bodytext{
  color:white;
  font-family: 'Poppins', sans-serif;;
  font-size:66px;
  font-weight:800;

  max-width:900px;

  padding-left:60px;
  padding-top:50px;
  color:#d7d7db;
  letter-spacing: 2px;
  line-height: 90px;
  text-transform: uppercase;

}

.soiltext{

  color:white;
  font-family: 'Dancing Script', cursive;
  font-weight:1000;
  font-size:75px;

  max-width:900px;
  color:#d7d7db;
  letter-spacing: 5px;



}


.bodytextparent{
  display:flex;
  flex-direction:column;
  
  padding-bottom:0px;
  height:100vh;
  padding-top:0px;
  
}

.bodytextparentn{
  background-color: white ;
  margin-left:75px;
  margin-right:75px;
  padding:20px;

  border-radius:20px;
}

.bodytextn{
  color:#0e120e;
  font-family: 'Poppins', sans-serif;
  font-size:45px;
  font-weight:700;
  min-height:400px;
  padding-left:50px;
  padding-top:30px;
}

.button-create{
background-color: black;
  color:white;
  min-width:80px;
  height:40px;
     font-weight:300;
     border-radius:20px;

}

.button-login{
  background-color: black;
  min-width:80px;
  height:40px;
    font-weight:300;
    border-radius:20px;

}

.paragtext{
  color:#d0d3d0;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  padding-left:30px;
  font-weight:normal;
}

.paragtextn{

  color:white;
  font-family: 'Source Serif Pro', serif;
  font-size:16px;
  padding-left:60px;
  font-weight:400;
  max-width:600px;
}


.button-discover{
  padding-left:15px;
   padding-right:15px;
   margin-top:30px;
   background-color:#f4fa9b;
   color:#1d1a36;
   margin-left:60px;
}

.table{

  padding:10px;
  margin-right:20px;
  font-family: 'Poppins', sans-serif;
}

.listingtxt{
  display:flex;
  flex-direction:row;
  justify-content:space-between;

}

.diricon{

  padding-left:150px;
}

.tabtab{
  padding:0px;
  font-family: 'Poppins', sans-serif;
}



.cardparent{
  padding:30px;
  min-height:300px;
/*  background-color:#37345f;*/
  border-radius:10px;
  margin:20px;

}

.cardparent{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.section{

  background-color:white;
  min-height:300px;
  display:flex;
  flex-direction:row;
}

.cardparentn{
 
 //border: solid 0.5px white;
 padding:25px;
 transition: 250ms;
 margin-bottom:50px;
 animation-delay: 2s;

}

.cardparentn:hover{
 
 border: solid 0.5px green;
 background-color:#dff3e4;


}

.Cardtext1{

color:white;
font-size:25px;
}

.paragtextcard{
  font-size:16px;
  font-weight:500;
  color:grey;
}

.sectiontext{
  background-color:#bca0bc;
  width:100%;
  font-family: 'Inter', sans-serif;
  font-size:40px;
  font-weight:700;
  padding:0px;
  color:#1d1a36;;
}

.listhead{
  display:flex;
  flex-direction:row;

  background-color:#dff3e4;

   
    
    
    align-items:center;
    justify-content: flext-start;
    transition:100ms;
    
}

.listhead:hover{
  
    
}


.listheadtext{
  font-family: 'Inter', sans-serif;
  font-size:18px;
  font-weight:500;
  padding-left:20px;


}

.contact{


  min-height:300px;
  display:flex;
  flex-direction:column;
  background-image: url("Components/contact.jpg");
  background-color: #cccccc;
  padding:0px;
}

.contacttext{

  color:white;
  padding:40px;
}


.formarea{
  background-color: white;
  min-width:400px;
  border-radius: 10px;

}

.text1{

  color:black;
  font-size:16px;
  padding:20px;
}

.textfield{
  padding-left:20px;
  padding-right:30px;
  padding-top:20px;
}

.button-send{
  background-color: black;
  min-width:80px;
  height:40px;
    font-weight:500;
    border-radius:5px;
    font-size:12px;
}

.buttonfield{
  margin-top:30px;
}

.bar{
  width:5px;
  background-color:#B6174B;
  height:80px;
}

.sectionhead{
  font-size:40px;
  padding-left:20px;
}

/*.listhead:hover{
  background-color:#B6174B;
  transition : 300ms;
  transform : scale(102%);
}*/


.listheadwrapper{
  display:flex;
  flex-direction:column;

  background-color:#dff3e4;

    margin-bottom:20px;
    margin-left:20px;
    margin-right:100px;

    justify-content: flext-start;
transition: all 0.25s ease-in-out;
       
}

.listheadparag{
  font-size:14px;
  font-weight:normal;
  padding-left:20px;
  opacity:0;
  height:0;
  transition: all 0.25s ease-in-out;
}

.listheadwrapper:hover .listheadparag{
    height:100px;
    opacity:1;
    display:block;
}

